
.highlight-box {
    
   //padding-block: 2em;
   //padding-inline: 1em;
   text-align: center;
}



.progress {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.progress-bar {
    width: 100%;
    height: 10px;
    background-color: black;
    border: none;
    border-radius: 1rem;
}