.highlight {
    //display: grid;
    //gap: 1.5em;
    //grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));


    --w:328px;
    --n:2;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(max(var(--w), 100%/(var(--n) + 1) + 0.1%),1fr)); /*this */
    gap: 2em;
}

.highlight-box {
    
   padding-block: 2em;
   padding-inline: 1em;
   text-align: center;
}



.progress {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.progress-bar {
    width: 100%;
    height: 10px;
    background-color: black;
    border: none;
    border-radius: 1rem;
}