/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */
 .wrapper {
    width: 90vw;
    width: clamp(16rem, 95vw, 95rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
  }

  .flex {
    display: flex;
    gap: 1.2em;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .ff-raleway {
    font-family: 'Raleway', system;
  }

  .fw-700 {
    font-weight: 700;
  }
  
  .fw-600 {
    font-weight: 600;
  }

  .fw-500 {
    font-weight: 500;
  }


  :root {


    --hue: 240;
    --size: 1.3rem;
    --radius: .2em;
    --tspeed-fast: 150ms;
    --tspeed-slow: 400ms;
    --ttype_spuish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

    --bg-light: var(--hue) 30% 94%;
    --txt-light: var(--hue) 40% 5%;
    --accent-light: var(--hue) 55% 50%;
    --muted--light: var(--hue) 30% 99%;



    --bg-dark: var(--hue) 15% 10%;
    --txt-dark: var(--hue) 30% 88%;
    --accent-dark: var(--hue) 50% 50%;
    --muted-dark: var(--hue) 20% 4%;

   --bg: var(--bg-light);
   --txt: var(--txt-light);
   --accent: var(--accent-light);
   --muted: var(--muted--light);

  }