/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */
 .wrapper {
    width: 90vw;
    width: clamp(16rem, 95vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
  }

  .flex {
    display: flex;
    gap: 1.2em;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .ff-raleway {
    font-family: 'Raleway', system;
  }
  