.forecast {
    /* display: grid;
    gap: 2em;
   
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
}

.main-container {
   
   
}

.content-right {
    
    
    
}

.content-left {

   
    

}

.highlight {
    //display: grid;
    /* display:grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(328px, 1fr)); */


    --w:300px;
    --n:2;
    //grid-template-columns:repeat(auto-fit,minmax(max(var(--w), 100%/(var(--n) + 1) + 0.1%),1fr)); /*this */
    //gap: 2em;
}


.weather-box {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
   border: 2px solid magenta;
}



.content-right-header {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    
}
