
.content-left {
    position: relative;
}

.search-field[data-visible="true"] {
    
    opacity: 1;
    visibility: visible;
}

.search-field {
    
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    position: absolute;
    margin-top: 2em;
    background-color: #1E213A;
    padding: 1em 2em;
    inset: 10% 0 0 0;
    
}



